body{
   background: url(1.gif);
}
.blok{
    height: 405px;
    width: 150px;
    background: #111111;
    margin: auto;
    padding-top: 15px;
    border-radius: 10px;
}
.red{
    text-align: center;
    font-size: 60px;
    color: #140505;
    line-height: 120px;
    background: #140505;
    height: 120px;
    width:120px;
    border-radius: 50%;
    margin-left: 15px;
  
     
}
.orange{
    background: #492400;
    height: 120px;
    width:120px;
    border-radius: 50%;
    margin: 15px;
}
.green{
     text-align: center;
    font-size: 60px;
    color: #131C10;
    line-height: 120px;
    background: #131C10;
    height: 120px;
    width:120px;
    border-radius: 50%;
    margin: 15px;
}